.sidenav {
    grid-row: 1;
    grid-column: 1/2;
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
    margin-top: 70px;
}

.nav-menu a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #2196F3;
    display: block;
}

.nav-menu a:hover {
    color: #111111;
}

@media screen and (max-width: 905px) {
    .sidenav {
        display: none;
    }
}